# Question-1

### A database is a structured collection of data that is organized and stored in a way that makes it easy to access, manage, and update. Databases are fundamental components of modern software applications and are used to store and retrieve a wide range of information, from customer data in a business application to content in a blog, and much more. Databases provide a way to efficiently manage and manipulate large volumes of data.

### There are two primary categories of databases: SQL (Structured Query Language) databases and NoSQL (Not Only SQL) databases. Here's a differentiation between the two:

### SQL Databases:

## Structure: SQL databases are relational databases that use a tabular structure to store data. Data is organized into tables, and each table consists of rows and columns. This structure enforces a predefined schema, which means data must fit a specific structure defined by a schema.
### Schema: SQL databases typically require a fixed schema, where the structure of the data is defined in advance. Any changes to the schema may require data migration, which can be complex and time-consuming.
### Query Language: SQL databases use the SQL query language to interact with the data. SQL provides a powerful and standardized way to retrieve, insert, update, and delete data from the database.
### ACID Properties: SQL databases are known for providing strong transactional support and adhering to ACID (Atomicity, Consistency, Isolation, Durability) properties. This ensures data integrity and reliability.

### NoSQL Databases:

### Structure: NoSQL databases are non-relational databases that offer flexibility in how data is structured. They can store data in various formats, such as JSON, XML, or key-value pairs. This allows for dynamic and evolving data structures.
### Schema: NoSQL databases are often schema-less or schema-optional, meaning they can adapt to changes in data structure without requiring a predefined schema. This makes them more suitable for applications with rapidly changing data requirements.
### Query Language: NoSQL databases use a variety of query languages, depending on the specific database type. Some use SQL-like languages, while others have their own unique query interfaces.
### CAP Theorem: NoSQL databases are often designed to prioritize flexibility and scalability over strong consistency. They are classified according to the CAP theorem (Consistency, Availability, Partition tolerance), which means they may trade off some level of consistency for improved availability and partition tolerance in distributed systems.
### Popular NoSQL databases include MongoDB (document-based), Cassandra (wide-column store), Redis (key-value store), and Neo4j (graph database).

### The choice between SQL and NoSQL databases depends on the specific requirements of an application. SQL databases are typically a good fit for applications with complex relationships and a well-defined schema, while NoSQL databases are often chosen for their ability to handle large amounts of unstructured or semi-structured data, and for applications where flexibility and scalability are key considerations.

# Question-2

### DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) that is used for defining, managing, and modifying the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and constraints. DDL is primarily concerned with the metadata and structure of the database, rather than the actual data stored in it.

## CREATE:
### The CREATE statement is used to create new database objects, such as tables, indexes, views, or schemas. It specifies the structure and attributes of the object being created.

### Example: Creating a new table in a database.

In [ ]:
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE
)

## DROP:
### The DROP statement is used to remove existing database objects. It permanently deletes the specified object and all of its associated data.

### Example: Dropping a table from a database.

In [ ]:
DROP TABLE employees;

## ALTER:
### The ALTER statement is used to modify the structure of an existing database object, such as adding, modifying, or deleting columns in a table, or changing constraints.

### Example: Adding a new column to an existing table.

In [ ]:
ALTER TABLE employees
ADD COLUMN department VARCHAR(50);

## TRUNCATE:
### The TRUNCATE statement is used to remove all data from a table while keeping the table structure intact. It is faster and more efficient than the DELETE statement for removing all records from a table.

In [ ]:
TRUNCATE TABLE employees;

# Question-3

### DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate, insert, update, and delete data in a database. Unlike DDL (Data Definition Language), which focuses on defining the structure of the database, DML is concerned with interacting with the actual data stored in the database.

## INSERT:
### The INSERT statement is used to add new records (rows) into a table.

In [ ]:
INSERT INTO employees (employee_id, first_name, last_name, hire_date)
VALUES (101, 'John', 'Doe', '2023-10-13');

## UPDATE:
### The UPDATE statement is used to modify existing records in a table. It allows you to change the values of one or more columns in one or more rows that meet certain conditions.

In [ ]:
UPDATE employees
SET first_name = 'Jane'
WHERE employee_id = 101;

## DELETE:
### The DELETE statement is used to remove records from a table based on specified conditions. It deletes one or more rows that match the given criteria.

In [ ]:
DELETE FROM employees
WHERE employee_id = 101;

# Question-4

### DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) used for retrieving data from a database. DQL is primarily concerned with querying the data to fetch specific information from one or more database tables. The primary DQL statement is SELECT.
## SELECT Statement:
### The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify which columns to retrieve, the source table(s), and conditions to filter the data. The result of a SELECT query is a set of rows from the specified table(s) that match the specified criteria.

In [ ]:
SELECT product_name, price
FROM products
WHERE price < 50;

# Question-5

### Primary Key and Foreign Key are two important concepts in relational database design that are used to establish relationships between tables and ensure data integrity.
## Primary Key:
### A Primary Key is a column or a set of columns in a relational database table that uniquely identifies each record (row) in that table.
### It enforces the uniqueness constraint, ensuring that no two rows in the table can have the same values in the primary key columns.
### Primary keys are used as the basis for indexing and are critical for efficient data retrieval and data integrity.
## Foreign Key:
### A Foreign Key is a column or a set of columns in a database table that establishes a link between the data in two related tables.
### It creates referential integrity by enforcing relationships between tables. The values in the foreign key column(s) match the values in the primary key of another table, typically the parent table.

# Question-6

In [ ]:
pip install mysql-connector-python
import mysql.connector

# Database connection parameters
db_config = {
    "host": "your_host",
    "user": "your_username",
    "password": "your_password",
    "database": "your_database"
}

# Establish a connection to the MySQL database
try:
    conn = mysql.connector.connect(**db_config)

    # Create a cursor object to interact with the database
    cursor = conn.cursor()

    # SQL query to execute
    sql_query = "SELECT * FROM your_table"

    # Execute the SQL query using the cursor
    cursor.execute(sql_query)

    # Fetch and print the results
    results = cursor.fetchall()
    for row in results:
        print(row)

    # Commit any changes (not needed for SELECT queries)
    conn.commit()

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    # Close the cursor and connection
    cursor.close()
    conn.close()

# Question-7

### In SQL, the order of execution of clauses in an SQL query is generally as follows:

## FROM Clause:

### The FROM clause specifies the table(s) from which data will be retrieved. This is the starting point of the query, defining the source of data.
## WHERE Clause:

### The WHERE clause is used to filter rows from the tables specified in the FROM clause. It specifies the conditions that must be met for a row to be included in the result set. Rows that do not satisfy the conditions are excluded.
## GROUP BY Clause:

### The GROUP BY clause is used for grouping rows that have the same values in specified columns into summary rows. It is commonly used with aggregation functions like COUNT, SUM, AVG, etc., to perform calculations on grouped data.
## HAVING Clause:

### The HAVING clause is used to filter the results of a GROUP BY operation. It specifies conditions that must be met by grouped rows. Similar to the WHERE clause, but it operates on grouped data.
## SELECT Clause:

### The SELECT clause specifies the columns to be included in the result set. It can include expressions, functions, and aliases for columns. The SELECT clause is applied after filtering and grouping.
## ORDER BY Clause:

### The ORDER BY clause is used to sort the result set based on one or more columns. It can sort in ascending or descending order. The sorting is applied to the result set after the SELECT clause is executed.
## LIMIT/OFFSET or FETCH/FIRST (if supported by the DBMS):

### These clauses limit the number of rows returned by the query or specify a range of rows to retrieve. They are often used for pagination or limiting the result set size.
## UNION, INTERSECT, or EXCEPT/ MINUS (if applicable):

### These set operations are used to combine or compare the result sets of multiple SELECT statements. They are applied after the individual SELECT statements.
## DISTINCT (if applicable):

### The DISTINCT keyword is used to eliminate duplicate rows from the result set. It ensures that only unique rows are returned.