# Question-1

In [3]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Question-2

In [4]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Question-3

In [5]:
import pandas as pd

# Create a dictionary with data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30,27],
    'Gender': ['Female','Male','Female']
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female

# Question-4

## DataFrame:

### A DataFrame is a 2D data structure that can hold data in a table format.It is a collection of multiple Pandas Series arranged in columns.You can think of it as a spreadsheet with labeled columns.It is typically used for storing and manipulating structured data.
## Series:

### A Series is a 1D data structure that can hold data of any data type.It represents a single column of data in a DataFrame.It is like a list or array with a labeled index, and it can be thought of as a single column from a DataFrame.It is often used for working with individual columns or arrays of data

In [6]:
import pandas as pd

# Creating a Series
series_data = pd.Series([10, 20, 30, 40, 50], name="Numbers")

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
}
df = pd.DataFrame(data)

# Printing the Series and DataFrame
print("Series:")
print(series_data)
print("\nDataFrame:")
print(df)

Series:
0    10
1    20
2    30
3    40
4    50
Name: Numbers, dtype: int64

DataFrame:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

# Question-5

In [7]:
# Selecting a specific column
df['Age']

# Selecting a subset of data using loc[]
df.loc[df['Age'] > 30]

      Name  Age
2  Charlie   35
3    David   40

In [8]:
# Filtering data
df[df['Age'] > 30]

      Name  Age
2  Charlie   35
3    David   40

In [9]:
# Sorting by a column
df.sort_values(by='Age', ascending=False)

      Name  Age
3    David   40
2  Charlie   35
1      Bob   30
0    Alice   25

# Question-6

### Among the three data structures mentioned (Series, DataFrame, and Panel), only the DataFrame is mutable in nature. You can modify the data within a DataFrame by adding, updating, or deleting rows and columns, making it a mutable data structure.

## Series: 
##### A Series is immutable. Once you create a Series, you cannot change its values or its size. If you need to modify a Series, you would typically create a new Series with the desired changes.

## DataFrame:
##### A DataFrame is mutable. You can modify the data within a DataFrame, add new rows or columns, update existing values, or remove rows and columns. This makes it a versatile data structure for data manipulation.

## Panel:
##### The Panel data structure used to be part of Pandas in earlier versions, but it has been removed from the latest versions (since Pandas version 0.25.0) in favor of using MultiIndex DataFrames. If you're using a version of Pandas that supports Panel, it is also mutable like a DataFrame. However, it's important to note that Panel is deprecated, and you should consider using MultiIndex DataFrames instead.

# Question-7

In [11]:
import pandas as pd

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 35, 40])
cities = pd.Series(['New York', 'Los Angeles', 'Chicago', 'Houston'])

# Combining Series into a dictionary
data = {
    'Name': names,
    'Age': ages,
    'City': cities
}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston